<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form" action="" method="POST">

                <div class="wrap-input100">
                    <input class="input100" type="text" name="query">
                    <span class="focus-input100" data-placeholder="Type here..."></span>
                </div>


                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button type="submit" class="login100-form-btn">
                            Search
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>